.categories {
  font-family: Inter;
  &__wrapper {
    margin-top: 73px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    .card {
      padding: 45px 0 45px 41px;
      display: flex;
      align-items: center;
      gap: 20px;
      background: $bg;
      border-radius: 22px;
      &__body {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        h2 {
          font-weight: 700;
          font-size: 36px;
        }
        p {
          color: $bg-sy;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .categories {
    &__wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      .card:last-child {
        grid-column: 1/3;
      }
    }
  }
}

@media (max-width: 600px) {
  .categories {
    &__wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
    }
    .card:last-child {
      grid-column: 1/1;
    }
  }
}
